*
!automation
!binary_sensor
!config
!light
!media_player
!mqtt
!packages
!script
!sensor
!switches
!custom_components
!customize
!templates
!*.yaml
!scenes
!.gitignore
secrets.yaml
known_devices.yaml
home-assistant_v2.db
google_calendars.yaml
!Readme.md
