*
!custom_components
!customize
!packages
!templates
!*.yaml
!.gitignore
secrets.yaml
known_devices.yaml
home-assistant_v2.db
google_calendars.yaml
!Readme.md
!*.py
!*.ini
!media_player
!device_tracker
!life360
!travis_adbkey
!travis_adbkey.pub